@tailwind base;
@tailwind components;
@tailwind utilities;

.breath {
  animation: zoom-in-zoom-out 15s ease-in-out infinite;
}

.btn {
  @apply rounded border bg-primary px-[1em] py-[0.5em] font-bold text-white shadow-md hover:border-dark;
}

.pair {
  @apply w-[65%] md:w-[35%] lg:w-[30%] xl:w-[25%] xxl:w-[20%];
}

.heading {
  @apply font-bebas text-5xl uppercase text-dark;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.07, 1.07);
  }
  100% {
    transform: scale(1, 1);
  }
}
